body {
  background-color: black;
  color: white;
}

a,
a:visited {
  color: crimson;
}

a:hover {
  color: greenyellow;
}

#header {
  display: flex;
  justify-content: center;
}

#main {
  margin-top: 10vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#footer {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(24, 23, 23);
}

.list-none {
  list-style: none;
}

.about,
.madeby {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5em;
}

.madeby > span {
  padding: 0.1em;
}

.madeby-links {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
